h1 {
    font-family: calibri;
    font-size: 3rem;
    text-align: center;
    color: rgb(231, 179, 7);
}
.box {
    display: flex;
    gap: 6px;
    width: 280px;
    height: 280px;
    flex-wrap: wrap;
    color: black;
    background-color: rgb(15, 115, 182);

}
.cell {
    height: 80px;
    width: 80px;
    border: 1px solid black; 
    background-color: white;
    font-size: 40px;
    border-radius: 20%;
}
 :disabled {
    color: black;
 }
.reset {
    visibility: hidden;
    border: 2px solid black;
    background-color: white;
    height: 190px;
    width: 190px;
    border-radius: 10%;
    position: absolute;
    top: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes pulse {
    0% { transform: scale(1); background-color: white; }
    50% { transform: scale(1.1); background-color: yellow; }
    100% { transform: scale(1); background-color: white; }
}

@keyframes myani {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.prompt {
    animation: myani 0.9s;
}
.winner {
    animation: pulse 0.6s infinite;
    border: 2px solid gold;
    z-index: 10; 
}
 html {
     background-color: rgb(15, 115, 182);
 }

 button {
     background-color: cyan;

 }